service:
  message: Hola, gradle

spring:
  datasource:
    url: jdbc:mysql://10.18.54.199:3306/op_test?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&rewriteBatchedStatements=true
    username: op_test_rw
    password: 6v795c68A339A9K
    driverClassName: com.mysql.jdbc.Driver
    druid:
      initial-size: 2
      max-active: 2
      min-idle: 2
      test-on-borrow: true
      validation-query: select 1
      connection-init-sqls: SET NAMES utf8mb4
  jpa:
    show-sql: true
