service:
  message: Hola, gradle

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&rewriteBatchedStatements=true
    username: test
    password: 13579246810
    driverClassName: com.mysql.jdbc.Driver
    druid:
      initial-size: 2
      max-active: 2
      min-idle: 2
      test-on-borrow: true
      validation-query: select 1
      connection-init-sqls: SET NAMES utf8mb4
      stat-view-servlet:
        enabled: true
  jpa:
    show-sql: true
